<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 스캔하고 적당한거 있으면 스프링 빈으로 만듬 -->
	<context:component-scan base-package="lecture.c08core"></context:component-scan>

	<!--<bean class="lecture.c08core.Computer"></bean>-->
	<!-- 하위폴더 써줄 필요가 없음 -->

</beans>
